div {
    height: 100%;
    width: 100%;
}

.Done {
    padding-top: 10px;
    width: 100px;
    margin: 0 auto;
}

button {
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color:rgb(190, 230, 240);
    font: inherit;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: rgb(200, 240, 250);
}

button:active:enabled {
    background-color: rgb(210, 250, 255);

}