.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    text-align: center;
}
